#intro {
	margin-bottom: 30px;
}

#main {
	margin-top: 30px;
}

.group-title {
	font-size: 21px;
	color: #333;
	margin-bottom: 20px;
}

.group-container:first-child > hr {
	display: none;
}

.texture-group {
	display: inline;
	white-space: normal;
}

.btn-add-texture {
	vertical-align: bottom;
}

.texture-group > .btn {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.group-container > .texture-group > .btn, .btn-add-texture {
	padding: 8px;
	margin: 1px;
}

/*
 * Extra specificity is added to override Bootstrap styles
 */
.texture-group > .btn > p, .btn-add-texture p {
	color: #555555;
	padding: 8px 8px 0;
}

.texture-group > .btn:hover, .btn-add-texture:hover {
	background-position: 0 -50px;
}

.category-form {
	margin-right: 2px;
}

.category-form input {
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#btn-edit {
	float: right;
}

.modal-inline > * {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

.modal-inline > h3 {
	min-width: 147px;
}

.modal-footer > input {
	float: left;
}

.password-popover {
	width: auto;
}

#category-form {
	margin: 0;
}

#dropbox {
	width: 64px;
	height: 64px;
	background-image: url('../img/dropbox.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
	font-size: 9px;
	line-height: 13px;
	overflow: hidden;
	/*
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	*/
}

/*
#dropbox:hover {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 /

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
*/