#intro {
	margin-bottom: 30px;
}

#main {

	margin-top: 30px;
}

.texture.texture-hovered {

	box-shadow: inset 0 2px 2px rgba(0, 0, 255, .10);
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 255, 0.10);
	background-color: rgba(0, 0, 0, .08);
}

.texture.texture-selected {

	box-shadow: inset 0 2px 2px rgba(0, 0, 255, .10), inset 0 0 5px rgba(0, 100, 255, 0.8);
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 255, 0.10), inset 0 0 5px rgba(0, 100, 255, 0.8);
	background-color: rgba(0, 0, 0, .04);
}

.texture.texture-selected.texture-hovered {

	background-color: rgba(0, 0, 0, .08);
}

.texture .caption {

	padding: 9px 9px 0;
}

.texture-group {
}

.add-texture-button {
	margin-top: 32px;
	opacity: 0.5;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
}

.add-texture-button:hover {
	cursor: pointer;
	opacity: 1;
}