#intro {
	margin-bottom: 30px;
}

#main {

	margin-top: 30px;
}

.texture.texture-hovered {

	box-shadow: inset 0 2px 2px rgba(0, 0, 255, .10);
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 255, 0.10);
	background-color: #F3F3F3;
}

.texture.texture-selected {

	box-shadow: inset 0 2px 2px rgba(0, 0, 255, .10), inset 0 0 5px rgba(0, 100, 255, 0.8);
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 255, 0.10), inset 0 0 5px rgba(0, 100, 255, 0.8);
	background-color: #F8F8F8;
}

.texture.texture-selected.texture-hovered {

	background-color: #F3F3F3;
}

.texture .caption {

	padding: 9px 9px 0;
}

.texture-group {
}

.add-texture-button {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.add-texture-button:hover {
	background-position: 0 -50px;
}

#btn-edit {
	float: right;
}

#btn-edit .edit-normal {

}

.modal-inline > * {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}