/*Global*/

.container {

	padding-top: 20px;/*Adds padding to the top of the page.*/
}

/* Main*/

#intro {

	margin-bottom: 30px;
}

#main {

	margin-top: 30px;
}

.texture.texture-hovered {

	border: 1px inset black;
	box-shadow: inset 0 2px 2px rgba(0, 0, 255, .10);
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 255, 0.10);
	background-color: rgba(0, 0, 0, .04);
}

.texture.texture-selected {

	border: 1px inset black;
	box-shadow: inset 0 2px 2px rgba(0, 0, 255, .10);
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 255, 0.10);
	background-color: rgba(0, 0, 0, .04);
}

.texture.texture-selected.texture-hovered {

	border: 1px inset black;
	box-shadow: inset 0 2px 2px rgba(0, 0, 255, .10);
	-moz-box-shadow: inset 0 0 2px rgba(0, 0, 255, 0.10);
	background-color: rgba(0, 0, 0, .04);
}

.texture .caption {

	padding: 9px 9px 0; /* Shortens the bottom padding. */
}