@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic|Ubuntu:400,700,400italic,700italic);
body {
	/* take this out until all colors match. i.e. Tabs*/
	/*background-color: rgba(240, 240, 240, 0.5);*/
	font-family: Ubuntu, "sans-serif";
}

.page-header {
	padding-bottom: 0px;
}

.ohnoes {
	font-size: 125%;
}

pre {
	background-color: rgba(240, 240, 240, 0.1);
	font-family: "Ubuntu Mono", monospace;
	font-size: larger;
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
pre img {
	margin: 10px 0;
	margin-right: 10px;
}
pre .description {
	font-style: italic;
}
pre a:link {
	color: #333;
}
pre a:visited {
	color: #333;
}
pre a:hover {
	color: #333;
}
pre a:active {
	color: #333;
}
