.container {
	padding-top: 20px;
}

#main {
	margin-top: 30px;
}

#upload-box {
	width: 275px;
	height: 275px;
	background-image: url("../img/upload-arrow.png");
	background-repeat: no-repeat;
	background-position: center center;
	border: 5px solid #c8e4ff;
	border-radius: 20px;
}
#upload-box #upload-text {
	margin-top: 225px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #95cbff;
}